.st-blocFormError {
    background-color: var(--bg-error);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    height: 38px;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 10px;
    width: 600px;
    & p:nth-child(1) {
        margin-left: 20px;
        margin-top: auto;
        margin-bottom: auto;
    }
    & p:nth-child(2) {
        cursor: pointer;
        margin-right: 20px;
        margin-top: auto;
        margin-bottom: auto;
    }
    & img {
        height: 18px;
        width: 18px;
    }
}