:root {
    --background: white;
    --primaryColor: #03A55A;
    --secondaryColor: #E18811;
    --secondaryColor2: #F0CBB7;
    --textColor: #282628;
}

[data-theme="dark"] {
    --background: #282628;
    --primaryColor: #03A55A;
    --secondaryColor: #E18811;
    --secondaryColor2: #F0CBB7;
    --textColor: white;
}