.cpointer {
    cursor: pointer;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.fw600 {
    font-weight: 600;
}

.fw700 {
    font-weight: 700;
}

main {
    width: 1200px;
    margin: auto;
}

.required:after {
    content: " *";
    color: var(--errorColor);
}