.st-navbarContainer {
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

.st-navigation {
    ul {
        display: flex;
        list-style:none;
        margin-left:0;
        padding-left:0;
    }
    a {
        text-decoration: none;
    }
}