.st-fruits {
    text-align: center;
    h1{
        font-style: italic;
        font-weight: 600;
        margin-bottom: 100px;
        margin-right: 20px;
    }
    img {
        border-radius: 6px;
        box-shadow: 0px 0px 10px var(--textColor);
        height: 200px;
        width: 250px;
    }
    .st-describeFruit {
        justify-content: center;
        width: 575px;
        p {
            text-align: justify;
        }
    }
    .st-months {
        color: var(--primaryColor);
        margin-top: 2px;
    }
}

.st-fruitsEdit {
    textarea {
        min-height: 100px;
    }
    .st-fileInput {
        width: 350px;
    }
}

.st-blocShowFruit {
    background-color: var(--secondaryColor2);
    border-radius: 10px;
    color: var(--background);
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    width: 250px;
    &:hover {
        box-shadow: 0px 0px 10px var(--textColor);
    }
    h2 {
        font-size: 20px;
    }
    img {
        border-radius: 6px;
    }
}

body[data-theme="dark"] .st-iconEdit {
    background-image: url("/assets/images/icons/icon_editDark.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    height: 30px;
    margin-top: 10px;
    width: 30px;
    &:hover {
        background-image: url("/assets/images/icons/icon_editDark-hover.svg");
    }
}

body[data-theme="light"] .st-iconEdit {
    background-image: url("/assets/images/icons/icon_editLight.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    height: 30px;
    margin-top: 10px;
    width: 30px;
    &:hover {
        background-image: url("/assets/images/icons/icon_editLight-hover.svg");
    }
}

body[data-theme="dark"] .st-iconDelete {
    background-image: url("/assets/images/icons/icon_deleteDark.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    height: 30px;
    margin-top: 10px;
    width: 30px;
    &:hover {
        background-image: url("/assets/images/icons/icon_deleteDark-hover.svg");
    }
}

body[data-theme="light"] .st-iconDelete {
    background-image: url("/assets/images/icons/icon_deleteLight.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    height: 30px;
    margin-top: 10px;
    width: 30px;
    &:hover {
        background-image: url("/assets/images/icons/icon_deleteLight-hover.svg");
    }
}

body[data-theme="dark"] .st-addFruit {
    background-image: url("/assets/images/icons/icon_addDark.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    height: 30px;
    width: 30px;
    &:hover {
        background-image: url("/assets/images/icons/icon_addDark-hover.svg");
    }
}

body[data-theme="light"] .st-addFruit {
    background-image: url("/assets/images/icons/icon_addLight.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    height: 30px;
    width: 30px;
    &:hover {
        background-image: url("/assets/images/icons/icon_addLight-hover.svg");
    }
}

body[data-theme="dark"] .st-blocAddFruit:hover .st-addFruit {
    background-image: url("/assets/images/icons/icon_addDark-hover.svg");
}

body[data-theme="light"] .st-blocAddFruit:hover .st-addFruit {
    background-image: url("/assets/images/icons/icon_addLight-hover.svg");
}